{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Video Conference</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <body>
    <div class="dashboard">
        <h1>Salom, {{name}}!</h1>
        <!-- create a "New Meeting" button -->
        <a href="{% url 'meeting' %}" class="button">Yangi Videochat yaratish</a>
        <a href="{% url 'join_room' %}" class="button">Videochatga qo'shilish</a>
        <a href="{% url 'logout' %}" class="button">Chiqish</a>
    </div>
  </body>
</head>
</html>