{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Video Conference</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <body>
    <div class="intro">
        <h1>Assalomu aleykum. Videochat platformasiga xush kelibsiz!</h1>
        <h2>Bu platformada do'stlaringiz yoki hamkasblaringiz bilan muloqotni amalga oshirishingiz munkin!</h2>
        <!-- create a signup and signin button-->
        <a href="{% url 'login' %}" class="button">Kirish</a>
        <a href="{% url 'register' %}" class="button">Ro'yhatdan o'tish</a>
    </div>
  </body>
</head>
</html>