{% load static %}
<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--<title>Login & Registration Form | CoderGirl</title>-->
  <!---Custom CSS File--->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <div class="login form">
      <header>Kirish</header>
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Foydalanuvchi nomi" name="username">
        <input type="password" placeholder="Parol" name="password">
        <input type="submit" class="button" value="Kirish">
        <center>
          {% if success %}
          <p style="color: green;"><b>{{ success }}</b></p>
          {% endif %}
          {% if error %}
          <p style="color: red;">{{ error }}</p>
          {% endif %}
        </center>
      </form>
      <div class="signup">
        <span class="signup">Kirish uchun ro'yxatdan o'tganmisiz?
         <a href="{% url 'register' %}"><label for="check">Ro'yxatdan o'tish</label></a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>