{% load static %}
<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--<title>Login & Registration Form | CoderGirl</title>-->
  <!---Custom CSS File--->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <div class="registration form">
      <header>Signup</header>
      <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Ismingiz" name="first_name">
        <input type="text" placeholder="Familiyangiz" name="last_name">
        <input type="text" placeholder="Foydalanuvchi nomi" name="username">
        <input type="password" placeholder="Parol" name="password">
        <input type="password" placeholder="Parolni qaytadan kiriting" name="con_password">
        <input type="submit" class="button" value="Ro'yxatdan o'tish">
        <center>
          {% if error %}
          <p style="color: red;">{{ error }}</p>
          {% endif %}
        </center>
        
      </form>
      <div class="signup">
        <span class="signup">Ro'yxatdan o'tganmisiz?
          <a href="{% url 'login' %}"><label for="check">Kirish</label></a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>